
  Here are our meetups!

  <% @meetups.all.each do |meetup| %>
  <li><a href='/meetups/<%= meetup.id %>'><%= meetup.name %></a></li>
  <% end %>

  <form action='/' method='POST'>
    <ul><input type='Text' name='name' size=''
      placeholder='Name of Meetup'></ul>

    <ul><input type='Text' name='description' size=''
      placeholder='Description of Meetup'></ul>

    <ul><input type='Text' name='location' size=''
      placeholder='Location of Meetup'></ul>

    <ul><button type='submit'>Submit New Meetup</button></ul>
  </form>
